html, body{
    height: 100vh;
    scroll-behavior: smooth;
  }

body{
    background-color: #343a40;
}

.navbar{
    transition: opacity 1.5s;
    opacity: 1;
}

.navbar.hide {
    opacity: 0;
  }

.container{
    text-align: center;
    height: auto;
    color: white
}

.container-fluid{
    text-align: center;
    height: auto;
}

.my-container{
    margin-top: 4.3em;
}

.row{
    height: auto;
    margin-bottom: 20px;
}

.cont1{
    background-image: url("./images/laptop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.my-row3{
    background-image: url("./images/k2.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/* mypicturecolumn */
.my-col{
    color: white;
    height: 40em;
}

.my-col-content{
    padding-top: 7em;
}

  /* aboutmesection */
  .col-about{
    font-family: 'Paytone one', sans-serif;
    font-size: 1.3em;
    height: auto;
  }

.my-col2{
    margin-bottom: 1em;
}


.my-col3{
    color: white;
    height: 40em;
}


h1{
    font-family: 'Paytone one', sans-serif;
    font-size: 4em;
}

h3{
    font-family: 'Paytone one', sans-serif;
}


#me{
    border-radius: 100px;
    margin: auto;
    display: block;
}

.onlinepng{
    border-radius: 100px;
}

.btn-silver:hover{
    background-color: white;
}

.btn-dark:hover{
    background-color: silver;
}

#img{
    border-radius: 30px;
}

.projectimg, .modalimg{
    border-radius: 15px;
    border: 4px solid silver;
}

.projectimg:hover{
    opacity: 0.3;
}

.projects:hover .imgtext{
    visibility: visible;
}

.projects{
    position: relative;
  text-align: center;
  color: black;
}

.imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Paytone one', sans-serif;
    font-size: 2em;
    visibility: hidden;
    color: white;
  }

  .technologies{
    font-family: 'Paytone one', sans-serif;
    font-size: 1em;
  }

  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #6c757d;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }

  .modaltext{
    font-family: 'Paytone one', sans-serif;
    font-size: 1.3em;
  }

  .modal-content{
      border-radius: 15px;
  }

  .modal{
    background-image: url("./images/keyboard.JPG");
    background-size: cover;
  }


.footer{
    color: white;
    background-color: #212529;
    height: 3em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1 {
        font-family: 'Paytone one', sans-serif;
        font-size: 3em;
    }

    .my-container{
        margin-top: 3em;
    }

    .my-col3{
        height: 40em;
    }

    .col-about{
        font-size: 1em;
    }
  }