html, body{
    height: 100vh;
    scroll-behavior: smooth;
  }

body{
    background-color: #343a40;
}

.fa-li {
    position: none !important;
}

.skills{
    color: white;
    background-color: #222629;
}

.navbar{
    transition: opacity 1.5s;
    opacity: 1;
}

.navbar.hide {
    opacity: 0;
  }

h5{
font-family: 'Archivo Black', sans-serif;
}

h4{
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

.col-about h4:hover{
    color: #232629;
}

.col-about a:hover{
    text-decoration-line: none;
}

.container{
    text-align: center;
    height: auto;
    color: white
}

.container-fluid{
    text-align: center;
    height: auto;
}

.my-container{
    margin-top: 4em;
}

.fitnessRow{
    text-align: start;
}

.row{
    height: auto;
    margin-bottom: 20px;
}

.skill-row{
    margin-bottom: 0px;
    padding-bottom: 5em;
}

.cont1{
    background-image: url("./images/laptop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.my-row3{
    background-image: url("./images/booger1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/* mypicturecolumn */
.my-col{
    color: white;
    height: 40em;
}

.my-col-content{
    padding-top: 7em;
}

  /* aboutmesection */
  .col-about{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.1em;
    height: auto;
  }

.my-col2{
    margin-bottom: 1em;
}


.my-col3{
    color: white;
    height: 40em;
}


h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 4em;
}

h3{
    font-family: 'Archivo Black', sans-serif;
}


#me{
    border-radius: 100px;
    margin: auto;
    display: block;
}

.onlinepng{
    border-radius: 100px;
}

.btn-secondary:hover{
    background-color: white;
    color: #6c757d;
}

#img{
    border-radius: 30px;
}

.projectimg, .modalimg{
    border-radius: 10px;
    transition: transform .3s;
}

.projectimg:hover{
    /* opacity: 0.5; */
    transform: scale(1.07);
    cursor: cell;
}

.projects{
    /* position: relative; */
  text-align: center;
  color: black;
}

.imgtext {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.4em;
    color: white;
  }

  .technologies{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1em;
  }

  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #6c757d;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }
  .social-icons a:hover{
  background-color: white;
  color: #6c757d !important;
  }

  .dev-icons {
    font-size: 2.5em;
  }
  .modaltext{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.3em;
  }

  .modal-content{
      border-radius: 15px;
  }

.footer{
    color: white;
    background-color: #212529;
    height: 3em;
    font-family: 'Archivo Black', sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */    
   
    h1 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 3em;
    }

    .my-container{
        margin-top: 3em;
    }

    .my-col3{
        height: 40em;
    }

    .col-about{
        font-size: 1em;
    }

    .col-about h4{
        font-size: 1em;
    }

    .cont1{
       background-attachment: scroll;
    }
    
    .my-row3{
        background-attachment: scroll;
    }
  }